
@page
@model CustomerSide.Pages.Products.IndexModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/form.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="product-model">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Products</li>
            </ol>
            <h2>Our Products</h2>
            <div class="col-md-9 product-model-sec">
                @foreach (var item in Model.Products.Items)
                {
                    <a asp-area="" asp-page="./Details" asp-route-ID="@item.Id">
                        <div class="product-grid love-grid">
                            <div class="more-product"><span> </span></div>
                            <div class="product-img b-link-stripe b-animate-go  thickbox">
                                <img src="@(Configuration["BaseAddress"] + item.PictureUrl)" class="img-responsive" alt="" />
                                <div class="b-wrapper">
                                    <h4 class="b-animate b-from-left  b-delay03">
                                        <button class="btns"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
                                    </h4>
                                </div>
                            </div>
                            <div class="product-info simpleCart_shelfItem">
                                <div class="product-info-cust prt_name">
                                    <h4> @Html.DisplayFor(modelItem => item.Name)</h4>
                                    <p>ID: SR4598</p>
                                    <span class="item_price">$@Html.DisplayFor(modelItem => item.Price)</span>
                                    <input type="text" class="item_quantity" value="1" />
                                    <input type="button" class="item_add items" value="ADD">
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                }
            </div>

            <div class="rsidebar span_1_of_left">
                <section class="sky-form">
                    @await Component.InvokeAsync("Filter")
                </section>
                <section class="sky-form">
                    <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>DISCOUNTS</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Upto - 10% (20)</label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40% - 50% (5)</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Price</h4>
                    <ul class="dropdown-menu1">
                        <li>
                            <a href="">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" style="border: 0; font-weight: NORMAL;   font-family: 'Arimo', sans-serif;" />
                            </a>
                        </li>
                    </ul>
                </section>
                <!---->
                <script type="text/javascript" src="js/jquery-ui.min.js"></script>
                <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
                <script type='text/javascript'>
                    //<![CDATA[
                    $(window).load(function () {
                        $("#slider-range").slider({
                            range: true,
                            min: 0,
                            max: 400000,
                            values: [8500, 350000],
                            slide: function (event, ui) {
                                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                            }
                        });
                        $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

                    });//]]>
                </script>
                <!---->
                <section class="sky-form">
                    <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Type</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>1 Gram Gold (30)</label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Gold Plated   (30)</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Platinum      (30)</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Silver        (30)</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Jewellery Sets  (30)</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Stone Items   (30)</label>
                        </div>
                    </div>
                </section>
                <section class="sky-form">
                    <h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Brand</h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Akasana Collectio</label>
                        </div>
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Colori</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Crafts Hub</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Jisha</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Karatcart</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Titan</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Amuktaa</label>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
</body>
</html>


