@model IEnumerable<E_commerce.Shared.ViewModels.ProductRatingVM>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<head>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" media="all" />
</head>
@foreach (var item in Model)
{
    <hr />
    <div class="row">
        <div class="col-md-3">
            <i>Rating product: @item.Rating</i>
            <br />
            @for (var i = 1; i <= item.Rating; i++)
            {
                <span class="starGlowN"></span>
            }
            @for (var i = (item.Rating + 1); i <= 5; i++)
            {
                <span class="starFadeN"></span>
            }
            <br/>
        </div>
    </div>
}