@model IEnumerable<CustomerSide.Models.CategoriesViewModel>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;

<div class="product_right">
    <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
    <div class="tab1">
        <ul class="place">
            <li class="sort">Plant Family</li>
            <li class="by"><img src="~/images/do.png" alt=""></li>
            <div class="clearfix"> </div>
        </ul>
        <div class="single-bottom">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Detail","Category",new { id = item.Id })"><p>@Html.DisplayFor(modelItem => item.Name)</p></a>
            }
        </div>
    </div>
</div>
